{% if site.discus_identifier %}
  <section class="comment-area">
    <div class="comment-wrapper">
        <div id="lv-container" data-id="city" data-uid="{{site.livere_uid}}">
        <script type="text/javascript">
           (function(d, s) {
               var j, e = d.getElementsByTagName(s)[0];

               if (typeof LivereTower === 'function') { return; }

               j = d.createElement(s);
               j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
               j.async = true;

               e.parentNode.insertBefore(j, e);
           })(document, 'script');
        </script>
        </div>

      <noscript>为正常使用评论请启用JavaScript</noscript>
    </div>
  </section> <!-- End Comment Area -->
{% endif %}
