
{% if site.livere_uid %}
  <section class="comment-area">
    <div class="comment-wrapper">
            <!-- <div class="row" id="comment-curtain">
                <div class="col-lg-8 col-sm-10 mr-auto ml-auto">
                    <h2 class="page-subtitle">Comments</h2>
                    <div class="comments-trigger" onClick="toggle_comments()">
                        <i class="fa fa-comments"></i>&nbsp;&nbsp;Write a comment ...
                    </div>
                </div>
            </div> -->
          <div id="lv-container" data-id="city" data-uid="{{site.livere_uid}}">
          <script type="text/javascript">
             (function(d, s) {
                 var j, e = d.getElementsByTagName(s)[0];

                 if (typeof LivereTower === 'function') { return; }

                 j = d.createElement(s);
                 j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
                 j.async = true;

                 e.parentNode.insertBefore(j, e);
             })(document, 'script');
          </script>
          </div>
      <noscript>评论功能需要启用JavaScript!</noscript>
    </div>
  </section>

{% endif %}
